<div class="container">
    <h1>Test</h1>
    <form (ngSubmit)="onSubmit()" [formGroup]="newTestForm">
        <div class="form-group">
            <label for="TestName" class="col-xs-4">Name</label>
            <div class="col-xs-8">
                <input type="text" class="form-control" formControlName="TestName" required>
            </div>
        </div>

        <div class="form-group">
            <label for="TestDescription" class="col-xs-4">Description</label>
            <div class="col-xs-8">
                <input type="text" class="form-control" formControlName="TestDescription" placeholder="" required>
            </div>
        </div>

        <div class="form-group">
            <label for="TestCreator" class="col-xs-4">Test Creator</label>
            <div class="col-xs-8">
                <input type="text" class="form-control" formControlName="TestCreator" placeholder="" required>
            </div>
        </div>

        <div class="form-group">
            <label for="FromDate" class="col-xs-4">From Date</label>
            <div class="col-xs-8">
                <input type="text" class="form-control" formControlName="FromDate">
            </div>
        </div>

        <div class="form-group">
            <label for="ToDate" class="col-xs-4">To Date</label>
            <div class="col-xs-8">
                <input type="text" class="form-control" formControlName="ToDate">
            </div>
        </div>

        <div class="form-group">
            <label for="ToDate" class="col-xs-4">Include airlines</label>
            <div class="col-xs-8">
                <select multiple  formControlName="IncludeAirlines" style="width:150px;float:left">
                    <option *ngFor="let airlineSelected of selectedAirlines; let i = index" [attr.selected]="airlineSelected ? true : null">{{airlines[i]}}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="ToDate" class="col-xs-4">Include airports</label>
            <div class="col-xs-8">
                <select multiple formControlName="IncludeAirports" style="width:150px;float:left">
                    <option *ngFor="let airportSelected of selectedAirports, let i = index" [attr.selected]="airportSelected ? true : null">{{airports[i]}}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="ToDate" class="col-xs-4">Include fusion request types</label>
            <div class="col-xs-8">
                <select multiple formControlName="IncludeFusionRequestTypes" style="width:150px;float:left">
                    <option *ngFor="let requestTypeSelected of selectedRequestTypes, let i =  index" [attr.selected]="requestTypeSelected ? true : null">{{fusionRequestTypes[i]}}</option>
                </select>
                
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-primary" (click)="cancel()">Cancel</button>

    </form>
    <h1>{{errorMessage}}</h1>
</div>

