<div class="container">
    <h1>Test</h1>
    <form (ngSubmit)="onSubmit()" [formGroup]="newTestForm">
        <div class="form-group">
            <label for="TestName">Name</label>
            <div>
                <input type="text" class="form-control has-error" id="TestName" formControlName="TestName" required [ngClass]="displayFieldCss('TestName')">
            </div>
        </div>

        <div class="form-group">
            <label for="TestDescription">Description</label>
            <div>
                <input type="text" class="form-control" formControlName="TestDescription" placeholder="" required>
            </div>
        </div>

        <div class="form-group">
            <label for="TestCreator">Test Creator</label>
            <div>
                <input type="text" class="form-control" formControlName="TestCreator" placeholder="" required>
            </div>
        </div>

        <div class="form-group">
            <label for="DateFrom">Date From</label>
            <div>
                <input type="text"  formControlName="DateFrom" (keyup)="applyFilter($event.target)" id="dateFrom" 
                [className]="dateFromIsValid?'form-control m-2 is-valid':'form-control m-2 is-invalid'">
            </div>
        </div>

        <div class="form-group">
            <label for="DateTo">Date To</label>
            <div>
                <input type="text"  formControlName="DateTo" (keyup)="applyFilter($event.target)" id="dateTo" 
                    [className]="dateToIsValid?'form-control m-2 is-valid':'form-control m-2 is-invalid'">
            </div>
        </div>

        <div class="form-group">
            <label for="IncludeAirlines">Include airlines</label>
            <select class="form-control" multiple formControlName="IncludeAirlines">
                <option *ngFor="let airlineSelected of selectedAirlines; let i = index"
                    [attr.selected]="airlineSelected ? true : null">{{airlines[i]}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="IncludeAirports">Include airports</label>
            <select class="form-control" multiple formControlName="IncludeAirports">
                <option *ngFor="let airportSelected of selectedAirports, let i = index"
                    [attr.selected]="airportSelected ? true : null">{{airports[i]}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="IncludeFusionRequestTypes">Include fusion request types</label>
            <select class="form-control" multiple formControlName="IncludeFusionRequestTypes">
                <option *ngFor="let requestTypeSelected of selectedRequestTypes, let i =  index"
                    [attr.selected]="requestTypeSelected ? true : null">{{fusionRequestTypes[i]}}</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary m-2" [disabled]="!dateFromIsValid || !dateToIsValid || TestName.errors.required">Submit</button>
        <button type="button" class="btn btn-primary m-2" (click)="cancel()">Cancel</button>

    </form>
    <h3 class="text-danger">{{errorMessage}}</h3>
</div>